/* General Rules */
main, .page-container, .navigation {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: #c62828;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button { 
  margin: 0 0.25rem;
}

label {
  margin-bottom: 0.2rem;
}

input, select {
  margin-bottom: 0.5rem;
}

select {
  padding: 0.2rem;
}

.object-actions {
  padding-bottom: 0.7rem;
}

/* Header Navigation */
.header-navigation {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #1f2937;
}

.back-link {
  padding-top: 0.5rem;
}

.navigation-link {
    color: #ffffff;
    text-decoration: none;
}

.navigation-link:hover {
    text-decoration: underline;
}

.navigation-link.active {
    font-weight: bold;
    color: #93c5fd;
}


/* Tables */
table {
    margin: 0 auto;
    border-collapse: collapse;
}

table th,
table td {
  padding: 0.75rem 1rem;
  border: 1px solid #cccccc;
  text-align: left;
}

table th {
  background-color: #eeeeee;
}

/* Purchase Orders Table */

.selected-supplier-name {
  font-weight: bold;
  color: rgb(104, 21, 159);
}

/* Add Purchase Order Form */
.add-order-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* Line Reports Table */


/* Add Line Form */
.order-line-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* Receipt Form */
.receipt-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* Add SKU Form */
.add-sku-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Navigation */

.navigation a {
  padding: 0.3rem;
}