/* General Rules */
.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: #c62828;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button { 
  margin: 0 0.25rem;
}

/* App Navigation */
.app-navigation {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #1f2937;
}

.back-link {
  padding-top: 0.5rem;
}

.navigation-link {
    color: #ffffff;
    text-decoration: none;
}

.navigation-link:hover {
    text-decoration: underline;
}

.navigation-link.active {
    font-weight: bold;
    color: #93c5fd;
}

/* Purchase Orders Table */
.purchase-orders-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.purchase-orders-table th,
.purchase-orders-table td {
  padding: 0.75rem 1rem;
  border: 1px solid #cccccc;
  text-align: left;
}

.purchase-orders-table th {
  background-color: #eeeeee;
}

.selected-supplier-name {
  font-weight: bold;
  color: rgb(104, 21, 159);
}

/* Line Reports Table */
.line-reports-table {
  margin: 1rem auto 0;
  border-collapse: collapse;
}

.line-reports-table th,
.line-reports-table td {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  text-align: center;
}

.line-reports-table th {
  background-color: #eeeeee;
}

/* Add Line Form */
.order-line-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.order-line-form label {
  margin-bottom: 0.2rem;
}

.order-line-form input {
  margin-bottom: 0.5rem;
}

/* Receipt Form */
.receipt-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.receipt-form label {
  margin-bottom: 0.2rem;
}

.receipt-form input {
  margin-bottom: 0.5rem;
}